@import url("variaveis.css");

section {
  display: flex;
  align-items: center;
  width: 100vw;
}
section::-webkit-scrollbar {
  display: none;
}

.gradient {
  height: 65vh;
  width: 10vh;
  position: absolute;
  z-index: 1000;
}

.gradient-left {
  background: linear-gradient(to right, #04022a 5%, transparent);
  z-index: 100;
}

.gradient-right {
  position: absolute;
  right: 0;
  background: linear-gradient(to left, #040145 5%, transparent);
  z-index: 100;
}

.slide {
  display: flex;
  gap: 3.5vh;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding-bottom: 1rem;
}

.slide::-webkit-scrollbar {
  display: none;
}

.slide-track {
  display: flex;
  gap: 1.5rem;
  height: 100%;
  padding-inline: 8vw;
  padding-block: 50px;
}

.projeto {
  perspective: 1000px;
  width: 400px;
  height: 27rem;
  max-height: 63vh;
  flex: 0 0 auto;
  cursor: pointer;
  overflow: visible; /* importante: deixa o conteúdo girado visível */
  margin: 0 10px; /* um pouco de espaço lateral para não ficar colado */
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s ease;
  transform-style: preserve-3d;
  overflow: visible; /* importante */
}

.projeto.flipped .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 20px;
  padding: 1rem;
  box-sizing: border-box;
  border: 2px solid var(--cor-secundaria);
  overflow: visible; /* garantir que nada seja cortado */
}

.card-front {
  z-index: 2;
  display: flex;
  flex-direction: column;
  background-color: #aaaaaa2d;

  h4{
    color: var(--cor-secundaria);
    font-size: 1.5rem;
    margin-top: 0.5rem;
  }

  p{
    color: var(--cor-terciaria);
    font-family: "Inter", sans-serif;
    font-size: 0.7rem;
  }
}

.card-front .foto {
  height: 60%;
  overflow: hidden;
  border-radius: 1vh 1vh 0 0;
  background-color: #87858529;
}

.card-front .foto img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: #fff;
}

.card-back {
  transform: rotateY(180deg);
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #1e1e1e91;

  h3{
    color: var(--cor-secundaria);
    font-size: 1.5rem;
    margin-top: 0.5rem;
  }
}

.card-back .links {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.card-back a {
  color: var(--cor-terciaria);
  background-color: #494949;
  padding: 0.5rem;
  border-radius: 6px;
  text-decoration: none;
}

.card-back a:hover {
  background-color: #636363;
  color: #fff;
}

@media (max-width: 576px) {
  .gradient {
    height: 55vh;
    width: 6vh;
  }
}
