*{
    margin: 0;
    padding: 0;
}

.blur-cursos{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: #ffffff2f;
    backdrop-filter: blur(30px);
    z-index: 9999;
    margin: 0;
    padding: 0;
    
}