@import url("variaveis.css");

::-webkit-scrollbar {
  width: 10px; /* largura da barra */
  position: absolute;
  background-color: transparent;
}

::-webkit-scrollbar-track {
  background: none; /* fundo da barra */
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, var(--cor-principal), #010e56);
  border-radius: 4px;
}

* {
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
  overflow-y: auto;
}

h1,
h2,
h3,
p {
  cursor: default;
}

/* HEADER */
header {
  position: fixed;
  top: 0;
  z-index: 1000;
  backdrop-filter: blur(30px);
  height: 11vh;

  h1 {
    color: var(--cor-terciaria);
    font-size: 1.2rem;
    margin: 0;
    font-family: var(--nunito);
    font-weight: 500;

    .dev {
      background-color: var(--cor-secundaria);
      color: var(--cor-principal);
      font-size: 1.25rem;
      font-family: var(--jura);
      padding: 1px 3.5px 3.3px 5px;
      border-radius: 0 6px 6px 17px;
      font-weight: 700;
    }
  }

  ul {
    display: flex;
    gap: 4vw;
    list-style: none;
    margin: 0;
  }

  button {
    padding: 10px 15px;
    border: none;
    background: none;
    color: var(--cor-terciaria);
    font-family: var(--inter);
    font-weight: 300;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 5px;
    transition: 0.3s;
  }

  button:hover {
    color: var(--cor-secundaria);
  }
}

.home {
  height: 89vh;
  display: flex;
  margin-top: 11vh;
  align-items: center;
  padding: 0;

  .nome {
    position: relative;
    display: inline-block;
    font-family: var(--inter);
    width: auto;

    h2 {
      color: var(--cor-terciaria);
      font-weight: 600;
      font-size: clamp(1.4rem, 2.5vw, 2rem);
      margin: 0;
    }

    h3 {
      color: var(--cor-secundaria);
      font-weight: 300;
      font-size: clamp(1.4rem, 2.5vw, 2rem);
      margin: 0;
    }
  }

  .logo-tec-home {
    display: flex;
    gap: 1vh;

    .circulo {
      height: 6vh;
      width: 6vh;
      max-width: 10vw;
      max-height: 10vw;
      border-radius: 1vh;
      display: flex;
      justify-content: center;
    }
  }

  .foto {
    background: none;
    width: clamp(300px, 35vw, 450px);
    height: clamp(300px, 35vw, 450px);
    border-radius: 50%;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 0.15rem var(--cor-secundaria);

    .circulo-GG {
      width: 98%;
      height: 98%;
      border-radius: 50%;
      display: flex;
      overflow: hidden;
    }
  }
}

.sobre {
  height: 100vh;
  padding-inline: 30px;
  font-family: var(--inter);
  justify-content: space-around;

  h1 {
    color: var(--cor-secundaria);
    margin-bottom: 0.6vh;
    font-family: var(--jura);
  }

  p {
    color: var(--cor-terciaria);
    font-size: clamp(0.7em, 1.5vw, 1em);
    margin: 0;
    font-weight: 300;
    font-family: var(--inter);
  }

  .formacao {
    display: flex;
    justify-content: center;

    gap: 7vh;
    width: 80%;
  }

  .linha-circ {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 0.35vh;
    height: 36vh;
    background: linear-gradient(
      to bottom,
      transparent 0%,
      var(--cor-secundaria) 16%,
      var(--cor-secundaria) 84%,
      transparent
    );
    margin: 7vh auto;
    gap: 18vh;

    .bola1,
    .bola2 {
      width: 3vh;
      height: 3vh;
      background-color: var(--cor-secundaria);
      border-radius: 100%;
    }
  }

  .content-formacao {
    align-items: end;

    h1 {
      margin-bottom: -10px;
      margin-right: 20px;
    }
  }

  .div-faculdade,
  .div-cursos {
    display: flex;
    background-color: #4848483e;
    backdrop-filter: blur(100px);
    height: 20vh;
    border-radius: 1.5vh;
    border: solid 0.14rem var(--cor-secundaria);
    padding-inline: 1.4vh;
    gap: 1vh;
    font-size: clamp(0.7em, 1vw, 0.8em);
    margin: 0;

    h1 {
      margin: 0;
    }

    h3 {
      margin: 0;
      color: #00ffaa;
    }

    p {
      font-size: 0.9em;
    }

    .div-faculdade:hover {
      border: solid 0.5vhvar (--cor-terciaria);
    }
  }

  a {
    position: relative;
    background-color: var(--cor-secundaria);
    font-size: 1.6vh;
    width: 12vh;
    height: 5vh;
    display: flex;
    text-decoration: none;
    color: inherit;
    justify-content: center;
    align-items: center;
    border-radius: 1.2vh;
    top: -4.9vh;
    right: 4.5vh;
  }

  a:hover {
    background-color: #02aebd;
  }
}

.skills {
  height: 100vh;
  font-family: var(--inter);
  color: var(--cor-secundaria);

  h1 {
    margin-bottom: 6vh;
    font-size: 3.5vh;
    font-family: var(--jura);
  }

  h2 {
    font-size: 2.7vh;
    margin-bottom: 0.6vh;
  }

  .tecs {
    justify-content: center;
    align-items: center;
    font-family: var(--inter);
  }

  .divs-tec {
    text-align: center;
    gap: 10px;
  }

  .sub-divs-tec {
    height: 60vh;
    border: solid 0.14rem var(--cor-secundaria);
    background-color: #4848483e;
    backdrop-filter: blur(100px);
    width: clamp(200px, 23vw, 600px);
    border-radius: 2vh;
    display: flex;
    justify-content: center;
    padding: 10px 20px;
    color: var(--cor-terciaria);
  }

  .content-tecs {
    width: 100%;
  }

  .linhas-tec {
    height: 30px;
    display: flex;
    justify-content: center;
    gap: 5px;

    .div-img {
      object-fit: cover;
      max-width: 20px;
      max-height: 20px;
      display: flex;
      flex: 1 1;
      justify-content: end;
    }

    .div-titulo-tec {
      width: 45%;
      display: flex;
      align-items: center;
      flex: 3 1;
    }

    h4 {
      font-family: var(--inter);
      font-weight: 400;
      display: flex;
      align-items: center;
      margin: 0;
      font-size: clamp(0.5rem, 2vh, 3rem);
    }
  }
}

@media (min-width: 660px) {
  .content-tecs {
    flex-direction: column;
    gap: 17px;
    padding-top: 15px;
  }

  .linhas-tec {
    width: 100%;
  }
}

@media (max-width: 660px) {
  .sobre {
    flex-direction: column;
    height: auto;
    padding: 0;

    .formacao {
      width: 80vw;
    }
  }

  .content-formacao {
    align-items: center;

    h1 {
      color: var(--cor-secundaria);
      margin-bottom: -0.5vh;
      margin-right: 3vh;
    }
  }

  .div-faculdade,
  .div-cursos {
    height: 20vh;

    h3 {
      color: var(--cor-secundaria);
    }

    p {
      font-size: 1.8vh;
    }
  }

  a {
    top: -4.9vh;
    right: 4.5vh;
  }

  .skills {
    h1 {
      margin-bottom: 2.5vh;
    }

    .tecs {
      width: 80%;
      flex-direction: column;
    }

    .divs-tec {
      width: 100%;
      flex-direction: column;
    }

    .sub-divs-tec {
      width: 100%;
      height: 20vh;
    }

    .linhas-tec {
      margin-top: 6px;
    }

    .l1 {
      margin-top: 0;
    }
  }
}

.projetos {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-block: 60px;
  overflow-x: hidden;
  gap: 2vh;

  h1 {
    font-family: var(--jura);
    color: var(--cor-secundaria);
    font-size: 4vh;
  }

  p {
    font-family: var(--inter);
    color: var(--cor-terciaria);
    font-weight: 200;
    font-size: 0.6em;
  }

  .button-vermais {
    padding: 2vh 5vh;
    border-radius: 2vh;
    border: none;
    background-color: var(--cor-secundaria);
    cursor: pointer;
    font-size: 2vh;
    font-family: arial;
    color: rgb(1, 1, 43);
    text-decoration: none;
  }
  .button-vermais:hover {
    background-color: #02aebd;
  }
}

.contato {
  height: 79vh;

  .mensagem {
    h1 {
      font-size: 3vh;
      color: var(--cor-secundaria);
      margin-bottom: 2.7vh;
      font-family: var(--kufam);
    }

    form {
      label {
        position: relative;
        color: var(--cor-terciaria);
        left: 1vh;
        font-size: 2vh;
        margin-bottom: 0.5vh;
      }

      input,
      textarea {
        background: none;
        border: solid 0.01vh var(--cor-terciaria);
        border-radius: 0.6vh;
        height: 5vh;
        padding-inline: 1vh;
        color: #00eaff;
        font-size: 1.8vh;
        caret-color: var(--cor-secundaria);
        resize: none;
        font-family: var(--nunito);
      }

      input:focus,
      textarea:focus {
        outline: none;
        box-shadow: 0 0 0 3px rgba(0, 238, 255, 0.223); /* efeito glow bonito */
        border-radius: 6px; /* opcional */
      }

      textarea {
        padding-top: 1.2vh;
        font-family: var(--nunito);
      }

      input::placeholder,
      textarea::placeholder {
        text-align: start;
        color: #ccc;
        font-family: var(--nunito);
      }

      .divs-input {
        display: flex;
        flex-direction: column;
      }

      button,
      .div-assunto,
      .div-mensagem {
        margin-top: 2.4vh;
      }

      .div-assunto {
        width: 94%;
      }

      .texto-msg {
        height: 20vh;
      }
    }

    button {
      padding: 1.5vh 10vh;
      background-color: var(--cor-secundaria);
      border: none;
      border-radius: 0.7vh;
      cursor: pointer;
      font-size: 2vh;
      color: var(--cor-principal);
    }

    button:hover {
      background-color: #02aebd;
    }
  }
}

.entre-contato {
  font-family: var(--kufam);
  position: relative;

  h1 {
    color: var(--cor-secundaria);
    font-size: 3.5vh;
  }

  .div-links {
    .links {
      margin-top: 1.4vh;
      width: 8vh;
      height: 8vh;
      border-radius: 0.8vh;
      text-decoration: none;
      color: inherit;
      display: flex;

      img {
        border-radius: 10px;
      }
    }
  }
}

@media (min-width: 992px) {
  .entre-contato {
    margin-right: 12vw;
  }
}

footer {
  height: 11vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.6vh;
  color: var(--cor-secundaria);
}
