@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kufam&display=swap");

:root {
  --cor-principal: #0d0140;
  --cor-secundaria: #00eaff;
  --cor-terciaria:  #f8f8ff;
  --inter: "Inter", sans-serif;
  --nunito: "Nunito", sans-serif;
  --jura: "Jura", sans-serif;
  --kufam: "Kufam", sans-serif;
}
