@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  padding: 0;
  margin: 0;
}

:root {
  --cor-principal: white; /*#00eaff*/
  --fonte-principal: "Inter", sans serif;
}

html, body {
  overflow-x: hidden;
}

h1,
h2,
h3,
p {
  cursor: default;
}

header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: rgb(255, 123, 123);
  height: 11vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 25vw;
  font-family: var(--fonte-principal);

  h1 {
    color: white;
    font-size: 150%;
  }

  ul {
    display: flex;
    gap: 7vw;
  }

  li {
    list-style: none;
  }

  button {
    padding: 10px 15px;
    border: none;
    background: none;
    color: white;
    font-size: 90%;
    cursor: pointer;
    transition: color 0.3s ease;
  }

  button {
    padding: 4px 10px;
    position: relative;
    transition: color 0.3s ease;
  }

  button::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: var(--cor-principal);
    transition: all 0.3s ease;
    transform: translateX(-50%);
  }

  button:hover::after {
    width: 100%;
  }

  button:hover {
    color: var(--cor-principal);
  }
}

.home {
  background-color: rgb(137, 202, 137);
  height: 89vh;
  display: flex;
  justify-content: space-around;
  align-items: center;

  .nome {
    position: relative;
    display: inline-block;
    font-family: var(--fonte-principal);
    width: auto;
    left: 50px;

    h2 {
      color: white;
      font-weight: 600;
      font-size: 190%;
    }

    h3 {
      color: var(--cor-principal);
      font-weight: 300;
      font-size: 170%;
    }
  }

  .logo-tec-home {
    display: flex;
    gap: 6px;

    .circulo {
      background-color: #ccc;
      height: 40px;
      width: 35px;
      border-radius: 7px;
    }
  }

  .foto {
    height: 360px;
    width: 360px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    border: solid 4px var(--cor-principal);

    .circulo-GG {
      background-color: #ccc;
      width: 98%;
      height: 98%;
      border-radius: 100%;
    }
  }
}

.sobre {
  background-color: rgb(246, 246, 121);
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: var(--fonte-principal);
  overflow: hidden;

  .texto-sobre {
    background-color: blue;
    width: 27%;
    max-height: 70vh;
    overflow: hidden;
  }

  h1 {
    color: var(--cor-principal);
    margin-bottom: 5px;
  }

  p {
    color: white;
    font-size: 15px;
  }

  .formacao {
    display: flex;
    justify-content: center;
    gap: 50px;
  }

  .linha-circ {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 4px;
    height: 300px;
    background: linear-gradient(
      to bottom,
      transparent 0%,
      var(--cor-principal) 16%,
      var(--cor-principal) 84%,
      transparent
    );
    margin: 50px auto;
    gap: 140px;

    .bola1,
    .bola2 {
      width: 25px;
      height: 25px;
      background-color: var(--cor-principal);
      border-radius: 100%;
    }
  }

  .content-formacao {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: end;

    h1 {
      color: var(--cor-principal);
      margin-bottom: -8px;
      margin-right: 15px;
    }
  }

  .div-faculdade,
  .div-cursos {
    background-color: #ccc;
    width: 500px;
    height: 100px;
    border-radius: 12px;
    border: solid 3px var(--cor-principal);
    padding: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;

    h1 {
      font-size: 20px;
    }

    h3 {
      font-size: 15px;
      color: var(--cor-principal);
    }

    p {
      font-size: small;
    }
  }

  a {
    position: relative;
    background-color: var(--cor-principal);
    font-size: 12px;
    width: 100px;
    height: 40px;
    display: flex;
    text-decoration: none;
    color: inherit;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    top: -43px;
    right: 40px;
  }
}

.skills {
  background-color: rgb(107, 140, 240);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: var(--fonte-principal);
  color: var(--cor-principal);

  h1 {
    margin-bottom: 60px;
  }

  h2 {
    font-weight: 300;
    margin-bottom: 5px;
  }

  .tecs {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12%;
  }

  .divs-tec {
    text-align: center;
    gap: 10px;
  }

  .sub-divs-tec {
    background-color: #ccc;
    width: 18vw;
    height: 60vh;
    border-radius: 13px;
  }
}

.projetos {
  background-color: grey;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-block: 60px;
  overflow-x: hidden;

  h1 {
    font-family: var(--fonte-principal);
    color: var(--cor-principal);
    font-size: 180%;
  }

  .button-vermais {
    padding: 15px 35px;
    border-radius: 10px;
    border: none;
    background-color: var(--cor-principal);
    cursor: pointer;
  }
  .button-vermais:hover {
    background-color: var(--cor-principal);
  }
}

.contato {
  display: flex;
  justify-content: space-around;
  background-color: purple;
  height: 79vh;
  font-family: var(--fonte-principal);

  .mensagem {
    position: relative;
    left: -50px;

    h1 {
      color: var(--cor-principal);
      text-align: center;
      margin-bottom: 10px;
    }

    form {
      width: 40vw;
      height: auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-content: center;

      label {
        position: relative;
        color: white;
        left: 10px;
      }

      input,
      textarea {
        background: none;
        border: solid 2px white;
        border-radius: 6px;
        height: 35px;
        padding-inline: 10px;
        color: white;
        font-size: 15px;
        caret-color: var(--cor-principal);
        resize: none;
        font-family: arial;
      }

      textarea {
        padding-top: 10px;
      }

      textarea::-webkit-scrollbar {
        width: 5px;
      }

      textarea::-webkit-scrollbar-thumb {
        /* Cor*/
        background-color: var(--cor-principal);
        border-radius: 4px;
      }

      textarea::-webkit-scrollbar-thumb:hover {
        background-color: #02aebd;
      }

      textarea::-webkit-scrollbar-track {
        /* Cor fundo */
        background: none;
      }

      input::placeholder,
      textarea::placeholder {
        text-align: start;
        color: #ccc;
        font-family: arial;
      }

      .divs-input {
        display: flex;
        flex-direction: column;
      }

      button,
      .div-assunto,
      .div-mensagem {
        margin-top: 20px;
      }

      .div-nome-email {
        display: flex;
        justify-content: space-between;
        width: 94%;

        .div-nome,
        .div-email {
          width: 45%;
        }
      }

      .div-assunto {
        width: 94%;
      }

      .div-mensagem {
        width: 94%;

        .texto-msg {
          height: 140px;
        }
      }

      button {
        padding: 10px 90px;
        background-color: var(--cor-principal);
        border: none;
        border-radius: 5px;
        cursor: pointer;
      }

      button:hover {
        background-color: #02aebd;
      }
    }
  }

  .entre-contato {
    font-family: var(--fonte-principal);
    position: relative;
    right: 8%;
    text-align: center;

    h1 {
      color: var(--cor-principal);
    }

    .div-links {
      display: flex;
      justify-content: center;
      gap: 10px;

      .links {
        margin-top: 10px;
        width: 53px;
        height: 53px;
        background: #ccc;
        border-radius: 10%;
        text-decoration: none;
        color: inherit;
      }
    }
  }
}

footer {
  background-color: orange;
  height: 11vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  color: var(--cor-principal);
}
