<section
  class="home container flex-md-row flex-column-reverse justify-content-center justify-content-lg-around gap-5"
>
  <div
    class="nome text-center text-md-start"
    data-aos="fade-right"
    data-aos-delay="500"
    data-aos-duration="1000"
    data-aos-once="true"
  >
    <h2 class="d-flex align-items-center  justify-content-md-start justify-content-center">Vinícius K. Lima <a class="download-cv d-none d-md-flex" href="images/Curriculo-ViniciusKLima.pdf" download="Curriculo-Vinicius-K-Lima.pdf">CV<i class="bi bi-download"></i></a></h2>
    <h3>Desenvolvedor FullStack</h3>
    <div
      class="logo-tec-home mt-2 d-flex justify-content-center justify-content-md-start"
    >
      <div *ngFor="let tech of tecnologias" class="circulo">
        <img [src]="tech.imagem" [alt]="tech.alt" [ngStyle]="tech.estilos" />
      </div>
    </div>
  </div>

  <div
    class="foto"
    data-aos="fade-left"
    data-aos-delay="500"
    data-aos-duration="1000"
    data-aos-once="true"
  >
    <div class="circulo-GG">
      <img src="images/foto.jpg" alt="Foto Vinícius" />
    </div>
  </div>
</section>
<app-sobre (abrirModalCursos)="openCoursesModal()"></app-sobre>
<app-skills></app-skills>
<app-projetos></app-projetos>
<app-contato (showNotification)="showSuccessNotification()"></app-contato>

<app-courses-modal
  [isVisible]="showCoursesModal"
  (closeModal)="showCoursesModal = false"
></app-courses-modal>
